body {
	font-family: 'Open Sans', sans-serif;
	background-color: #efefef;
}

.keyboard {
	position: relative;
	width: 90%;
	height: 30%;
}

.whiteKeys {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}

.blackKeys {
	position: absolute;
	margin-left: 0.7%;
	margin-right: 2.3%;
	width: 98.5%;
	height: 70%;
	display: table;
	table-layout: fixed;
	border-spacing: 10px 0;
}

.whiteKey {
	background-color: white;
	border: 1px solid black;
	display: table-cell;
}

.blackKey {
	background-color: black;
	border: 1px solid black;
	display: table-cell;
}

.hidden {
	visibility: hidden;
}

button {
	margin: 10px;
}

/*
	do something for black key 
*/